.user-card{
    display:flex;
    align-items: center;
    text-decoration: none;
    color:var(--black);
    cursor:pointer;
}
.user-card img{
    border-radius:50%;
    height:2.7rem;
    width:2.7rem;
    object-fit: contain;
}
.user-card div{
    margin-left:2%;
}
.user-card h4,.user-card p{
    margin:0;
    padding:0;
}
.mb-3{
    margin-bottom:2%;
}