.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.modal-main {
  z-index: 25;
  position: fixed;
  background: var(--white);
  min-width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: var(--box-shadow);
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.modal-main h3{
    background: var(--primary-color);
    width:100%;
    padding:2%;
    margin:0;
    box-sizing: border-box;
    font-weight: normal;
    display:flex;
    justify-content: space-between;
}
.modal-main h3 button{
    background: none;
    outline:none;
    border:none;
    color:white;
    cursor:pointer;
}
.modal-main > div{
    padding:1% 3%;
}
