.footer{
    min-height:3rem;
    background:var(--primary-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5% 2%;
}
.footer > a{
    text-decoration: none;
    color:black;
    align-items: center;
    display:flex;
}
.footer > a > svg{
    margin-right:2px;
}