.footer{
    min-height:3rem;
    background:#C03A3A;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5% 2%;
}
.footer > div{
    display:flex;
    align-items: center;
    min-width:20%;
}
.footer > div > svg{
    margin-right:2%;
}
.footer > a{
    text-decoration: none;
    color:black;
}