.login-main{
    display:flex;
    justify-content: space-around;
    /* margin-top:3rem;
    margin-bottom:3rem; */
    min-height:100vh;
}
.login-main > div{
    width:50%;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.login-main > div:last-child{
    background:var(--primary-color);
}
.login-1{
    display:flex;
    flex-direction: column;
    margin-top: 0;
}
.login-1 > div{
    display:flex;
    align-items: center;
    width:80%;
    margin:2% auto;
    flex-direction: row;
    justify-content: center;
}
.login-1 > img{
    height:30rem;
    width:30rem;
    object-fit: contain;
}
.login-1 > div > img{
    height:3rem;
    margin-right:2%;
}
.name{
    border-left:2px solid var(--primary-color);
    padding:0.5% 1%;
    background: rgba(196, 196, 196, 0.31);
    font-size: large;
}
.login-main h2{
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
}
.form-head{
    text-align: center;
}
.form-head>h2{
    width:100%;
}
.form-head>p{
    margin-top:0;
    padding-top:0;
    width:100%;
}
.form-head>p>a{
    text-decoration: none;
    color:var(--primary-color)
}
.login-form{
    background: var(--white);
    color:var(--black);
    min-width:20rem;
    border-radius: 3px;
}
.login-form div{
    flex-direction: column;
    align-items: flex-start;
    padding:0 3% 3% 3%;
    box-sizing: border-box;
    align-items: center;
}
.login-form div div{
    width:100%;
}
.login-form div label{
    color:var(--primary-color);
    margin-bottom:1%;
}
.login-form div input,.login-form div div input, select,.edit-ip{
    width:100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border:none;
    outline:none;
    padding:1% 3%;
    min-height:2.5rem;
    background: var(--whiteTwo);
    margin:auto;
    box-sizing: border-box;
    color:var(--black)
}
.login-form button,.sbt-btn{
    margin:5% auto;
    cursor:pointer;
    background: var(--primary-color);
    color:white;
    border:none;
    outline:none;
    width:50%;
    font-size:1.4rem;
    font-family: Poppins;
    padding:1% 0;
    display: block;
}
.login-form .signup-btns{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding:0;
}
.signup-btns button{
    width:20%;
    align-items: center;
    justify-content: center;
    display:flex;
}
.login-form .signup-avatar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
}
.login-form .signup-avatar img{
    height: 3rem;
    width:11%;
    object-fit: contain;
    margin:2% 4%;
    border-radius: 50%;
    padding:0.1% 0;
    cursor:pointer;
}
.avatar-selected{
    box-shadow: 0px -1px 9px rgba(0, 0, 0, 0.2), 0px -3px 5px rgba(0, 0, 0, 0.0417275), 0px 2.85954px 6.5588px rgba(0, 0, 0, 0.0282725) !important;
}
.login-form .signup-colors{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    margin:auto;
}
.login-form .signup-colors div{
    width:10%;
    height:10%;
    object-fit: contain;
    border-radius: 50%;
    margin:1%;
    cursor:pointer;
}
.login-form .signup-colors div div{
    height:2rem;
    width:2rem;
    border-radius: 50%;
}
.login-form .signup-colors .color-selected{
    transform: scale(1.3) !important;
}
.login-form .login-btn{
    margin:5% auto;
    display:block
}
.login-form-2{
    margin-top:2rem;
}
.login-main .login-form .progress-main{
    width:50%;
    margin:2% auto;
    height:1vh;
    padding:0;
    background: #c4c4c4;
    border-radius:10px;
}
.login-main .login-form .progress-main .progress-track{
    height:1vh;
    padding:0;
    border-radius: 10px;
    background:var(--primary-color)
}
.login-img{
    height:25rem !important;
}
.add-btn{
    margin-top:1% !important
}