.contact-div{
    width:90%;
    margin:0 auto 3rem;
    align-items: center;
    justify-content: center;
}
.contact-head{
    margin:auto;
}
.contact-head h2{
    width:max-content;
    margin:2% auto 0;
    font-weight: 500;
    color:var(--black)
}
.contact-head hr{
    width:35%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, var(--black), rgba(0, 0, 0, 0.75), var(--black));
        margin-bottom:2rem
}
.contact-sub{
    display:flex;
    width:100%;
    justify-content: space-between;
}
.dev-div{
    width:38%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background: var(--white);
}
.form-div{
    width:60%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background: var(--white);
    color:var(--black)
}