.contact-div{
    width:90%;
    margin:0 auto 3rem;
    align-items: center;
    justify-content: center;
}
.contact-head{
    margin:auto;
}
.contact-head h2{
    width:max-content;
    margin:2% auto 0;
    font-weight: 500;
}
.contact-head hr{
    width:35%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        margin-bottom:2rem
}
.contact-sub{
    display:flex;
    width:100%;
    justify-content: space-between;
}
.dev-div{
    width:38%;
    box-shadow: var(--box-shadow);
}
.form-div{
    width:60%;
    box-shadow: var(--box-shadow);
}