.landingCard {
  padding: 10px;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  box-shadow: 0 2px 2px;
}
.landing-expand {
  position: absolute;
  top: 5%;
  right: 4%;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.landing-add {
  top: 10%;
}
.landingCard > div > div > p {
  margin: 0;
}
.landingCard > div > div > p:first-child {
  color: grey;
}
.landingCard > div > div > p:last-child {
  margin-bottom: 2%;
}

.likecircle {
  text-align: center;
  margin-right: 5px;
  padding-bottom: 4px;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  border: 1px solid;
  font-size: 20px;
  font-weight: bold;
}
