.sidebar-main{
    display:flex;
    flex-direction: column;
    margin:1% 0;
}
.sidebar-main button, .sidebar-main div{
    background:white;
    border:none;
    outline:none;
    margin:3% 3% 2% 4%;
    min-height:2.5rem;
    align-items: center;
    display:flex;
    justify-content: center;
    font-size:1rem;
    cursor:pointer;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background: var(--white);
    color:var(--black)

}
.sidebar-main div{
    margin:4% 3% 4% 4%;
}
.sidebar-main div{
    flex-direction: column;
    padding:3% 0;
}
.sidebar-main div button{
    box-shadow: none !important;
    width:100%;
    margin:0;
    justify-content: flex-start;
    align-items: center;
    border-left:3px solid transparent;
}
.sidebar-main div button img,.sidebar-main button svg{
    width:20%;
    height:1.5rem;
    object-fit: contain;
}
.side-add{
    background:var(--primary-color);
    width:10% !important;
    padding:1%;
    margin:2%;
    color:white;
}
.sidebar-main>button{
    font-size:1.2rem;
    min-height:3rem;
}
.sidebar-main div .side-selected{
    border-left:3px solid var(--primary-color);
    background: rgba(193, 70, 78, 0.17)
}
.sidebar-main div button:hover{
    border-left:3px solid var(--primary-color);
    background: rgba(193, 70, 78, 0.17)
}