.dev-div{
    text-align: center;
}
.dev-div h3{
    font-weight: 500;
    color:var(--black)
}
.dev-card{
    position:relative;
    margin-bottom: 2rem;
}
.dev-card img{
    filter: brightness(80%);
    height:25rem;
}
.dev-card h2{
    position: absolute;
    bottom:1%;
    left:20%;
    border-left:2px solid var(--primary-color);
    padding:0 0 0 2%;
    color:white;
    font-weight: 500;
}